<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developed by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>About</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>


      </div>
    </div>
  </nav>
</header>
<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>This is me!</h3>
                  <p>I am a third year student studying towards an integrated undergraduate masters in computer science
                  at Royal Holloway University. I am on the lookout for a placement year for 2022!</p>
                  <h3>Skills</h3>
                  <p> Python, Java, C, test driven development, Git version control, SVN version control, agile method software development.</p>
                  <h3>Interests in computing</h3>
                  <p>
                    I am curious and excited to delve into new fields of computing but there have been a number of topics and projects that have really caught my interest.
                    I have enjoyed software development projects with teams where I can improve my teamworking skills and be a part of the creation of a big piece of software.
                    The fields of Game Theory and AI have been great to study, it is so interesting to see the real world application of projects in this field and the complexity of them.
                    Areas like backend web design, Low level programming in languages like C and behaviour driven programming have been a lot of fun to experience, I look forward to further delving into these in the future.</p>
                  <h3>Vocational</h3>
                  <p>Outside of computer science and studies, I am an avid musician, and I love to both produce and perform music.
                    I have played in numerous goups and solo at local venues, I also occasionally engineer the sound for live acts.
                    You can check out my work by googling Junior Farrer. I have skateboarded for just over 5 years and I am a
                    co-founder as well as the president of the Royal Holloway skate society.</p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./static/assets/images/profil.jpg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>


       </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© Dylan Farrer | Website created with help from <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>
<script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>
